<html>
  <head>
    <title>$i18n.getText("hub.integration.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
   		$webResourceManager.requireResource("com.atlassian.plugins.tutorial.xproduct-admin-ui-plugin:resources")
  </head>
  <body>
    <form id="admin" class="aui">
      <div class="field-group">
        <label for="name">$i18n.getText("hub.integration.admin.name.label")</label>
        <input type="text" id="name" name="name" class="text">
      </div>
      <div class="field-group">
        <label for="time">$i18n.getText("hub.integration.admin.time.label")</label>
        <input type="text" id="time" name="time" class="text">
      </div>
      <div class="field-group">
        <input type="submit" value="$i18n.getText("hub.integration.admin.save.label")" class="button">
      </div>
    </form>
  </body>
</html>