<html>
  <head>
    <title>$i18n.getText("hub.integration.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
   		$webResourceManager.requireResource("com.blackducksoftware.integration.hub-atlassian-config:hub-atlassian-config-admin-resources")
  </head>
  <body>
    <form id="hub-admin" class="">
      <div id="aui-hub-message-field" class="aui-message hidden">
      	<p class="title">
        	<span id="aui-hub-message-title" class="aui-icon"></span>
        	<strong id="aui-hub-message-title-text"></strong>
    	</p>
    	<p id="aui-hub-message-text"></p>
      </div>
      
      <div class="field-group">
      	<label> </label>
      	<div id="testConnectionError" class="error hidden"></div>
      </div>
      
      <fieldset class="fieldSection">
      	  <legend class="legend"><i class="fa fa-minus-circle" onclick="toggleDisplay(this,'serverConfigArea');"> </i> $i18n.getText("hub.integration.admin.serverConfig.label")</legend>
      	  <div id="serverConfigArea">
		      <div class="field-group">
		        <label class="label" for="hubServerUrl">$i18n.getText("hub.integration.admin.url.label")<span class="error"> *</span></label>
		        <input type="text" id="hubServerUrl" name="hubServerUrl" class="longInput textStyle">
		      </div>
		      <div class="field-group">
		      	<label> </label>
		      	<div id="hubServerUrlError" class="error hidden"></div>
		      </div>
		      
		      <div class="field-group">
		        <label class="label" for="hubUsername">$i18n.getText("hub.integration.admin.username.label")<span class="error"> *</span></label>
		        <input type="text" id="hubUsername" name="hubUsername" class="longInput textStyle">
		      </div>
		      <div class="field-group">
		      	<label> </label>
		      	<div id="hubUsernameError" class="error hidden"></div>
		      </div>
		        
		      <div class="field-group">
		        <label class="label" for="hubPassword">$i18n.getText("hub.integration.admin.password.label")<span class="error"> *</span></label>
		        <input type="password" id="hubPassword" name="hubPassword" class="password longInput textStyle">
		      </div>
		       <div class="field-group">
		      	<label> </label>
		      	<div id="hubPasswordError" class="error hidden"></div>
		      </div>
		      
		      <div class="field-group">
		        <label class="label" for="hubTimeout">$i18n.getText("hub.integration.admin.timeout.label")<span class="error"> *</span></label>
		        <input type="text" id="hubTimeout" name="hubTimeout" class="longInput textStyle" default="120">
		      </div>
		       <div class="field-group">
		      	<label> </label>
		      	<div id="hubTimeoutError" class="error hidden"></div>
		      </div>
		   </div>
      </fieldset>
      
      <fieldset class="fieldSection">
      	  <legend class="legend"><i class="fa fa-minus-circle" onclick="toggleDisplay(this,'proxyConfigArea');"> </i> $i18n.getText("hub.integration.admin.proxyConfig.label")</legend>
      	  <div id="proxyConfigArea">
		      <div class="field-group">
		        <label class="label" for="proxyHost">$i18n.getText("hub.integration.admin.proxy.host.label")</label>
		        <input type="text" id="proxyHost" name="proxyHost" class="longInput textStyle">
		      </div>
		       <div class="field-group">
		      	<label> </label>
		      	<div id="proxyHostError" class="error hidden"></div>
		      </div>
		      
		      <div class="field-group">
		        <label class="label" for="proxyPort">$i18n.getText("hub.integration.admin.proxy.port.label")</label>
		        <input type="text" id="proxyPort" name="proxyPort" class="longInput textStyle">
		      </div>
		       <div class="field-group">
		      	<label> </label>
		      	<div id="proxyPortError" class="error hidden"></div>
		      </div>
		      
		      <div class="field-group">
		        <label class="label" for="noProxyHost">$i18n.getText("hub.integration.admin.proxy.noproxyhost.label")</label>
		        <input type="text" id="noProxyHost" name="noProxyHost" class="longInput textStyle">
		      </div>
		       <div class="field-group">
		      	<label> </label>
		      	<div id="noProxyHostError" class="error hidden"></div>
		      </div>
		      
		      <div class="field-group">
		        <label class="label" for="proxyUsername">$i18n.getText("hub.integration.admin.proxy.username.label")</label>
		        <input type="text" id="proxyUsername" name="proxyUsername" class="longInput textStyle">
		      </div>
		       <div class="field-group">
		      	<label> </label>
		      	<div id="proxyUsernameError" class="error hidden"></div>
		      </div>
		      
		      <div class="field-group">
		        <label class="label" for="proxyPassword">$i18n.getText("hub.integration.admin.proxy.password.label")</label>
		        <input type="password" id="proxyPassword" name="proxyPassword" class="longInput password textStyle">
		      </div>
		      <div class="field-group">
		      	<label> </label>
		      	<div id="proxyPasswordError" class="error hidden"></div>
		      </div>
		  </div>
      </fieldset>
      
      <div style="padding-top : 10px;">
		  <input onclick="updateConfig(); startProgressSpinner();" type="button" value="$i18n.getText("hub.integration.admin.save.label")" class="aui-button aui-button-primary">
		  
		  <input onclick="testConnection(); startProgressSpinner();" type="button" value="$i18n.getText("hub.integration.admin.test.label")" class="aui-button aui-button-primary">
		  
		  <div id="progressSpinner" class="largeIcon fa fa-spinner fa-spin fa-fw" style="display: inline-block;"></div>
	  </div>
    </form>
  </body>
</html>